<html>
<head>
	<title>Potin <%= id %></title>
</head>

<body>
		<h1>The GOSSIP N°<%= id %></h1>
		<p>Name : <%= gossip.author %></p>
		<p>Message : <%= gossip.content %></p>
		<p><a href="/">Home</a></p>
		<p><a href="/gossips/<%= id %>/edit/">Edit</a></p>
</body>

</html>